<h2>Por Pais</h2>
<hr>

<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input 
            type="text" 
            name="termino" 
            placeholder="Buscar País......." 
            class="form-control"
            [(ngModel)]="termino"
            >
        </form>
    </div>
</div>

<hr>

<div *ngIf="hayerror" class="alert alert-danger">
    No se Encontro nada Con el Término {{termino}}
</div>

<div *ngIf="!hayerror" class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población</th>
                    <th></th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bandera</td>
                    <td>Nombre</td>
                    <td><a href="/pais/cri" class="">Ver....</a></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>